* {
  background-color: transparent;
}

.type-bar hr {
  height: 1px;
}

.book-select {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 4px;
}

.book-select span {
  color: var(--overlay-color);
  height: max-content;
  width: max-content;
}

.book-select input[type='file'] {
  display: none;
}

.book-select label {
  height: 28px;
  min-width: 300px;
  border: 2px solid var(--accent-color);
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  padding: 0px 4px 0px 4px;
  color: var(--overlay-color);
  display: flex;
  align-items: center;
}

.book-select select {
  width: 50px;
  padding: 0px 4px 0px 4px;
  margin: 0px 4px 0px 4px;
  border-radius: 8px;
  border: var(--accent-color) 1px solid;
  text-align: right;
  background-color: var(--background-color);
  scrollbar-width: none;
}

.book-select select::-webkit-scrollbar {
  display: none;
}

.book-select select:focus {
  outline: none;
}

.stats {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px 0px 50px;
  margin: 12px 0 4px 0;
}

.stats-span {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 900;
  width: 120px;
  color: var(--overlay-color);
}

.type-area {
  margin: 4px 0px 4px 0px;
  width: 800px;
  padding: 10px;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border: 2px dashed var(--accent-color);
  border-radius: 12px;
}

.letters,
.typebox {
  grid-area: 1 / 1 / 1 / 1;
  font-size: var(--type-font-size);
}

.letters {
  z-index: 0;
}

.letter {
  color: var(--font-color2);
  font-family: var(--type-font-family);
  border: 1px solid transparent;
}

.typebox {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: transparent;
  border: 0;
  text-decoration: none;
  color: transparent;
  resize: none;
}

.typebox:focus {
  outline: none;
}

.page-num-show {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2px;
}

.page-num-show hr {
  width: 300px;
}

/* @keyframes cursorFade {
  0% {
    border-width: 0px;
  }
  100% {
    border-width: 1px;
  }
} */
